.listClass {
background-color:white;
color : black;
overflow-y:auto;
/* overflow: hidden; */
height:500px;
width: 700px;
margin-top: 10%;
margin-bottom: 75%;
border: 0ch;
padding: 0px;

}
.h1tag {
    margin-bottom: 0;
}
.classK {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    font-size: 0.75em;
    
}
.divClass {
    background-color: white;
    width: 100%;
    height : 70%;
    border-bottom: 1px solid rgb(205, 207, 205);
    padding: 0px;
    padding-block-start: 0em;
    margin: 0px ;
   
}

 /* .divClass td {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
 } */
input[type=text]  {
    width: 60%;
    padding: 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  button {
    width: 20%;
    background-color: azure;
    padding: 20px;
    margin: 8px 0;
  }

  /* b {
      font-size : px;
  } */


img {
    border: 2px solid lightgray;
    border-radius: 50%;
    background-color: white;
  }

ul {
    padding-inline-start: 0em;
}